.chart-section
{
  padding: 10px;
  background-color: var(--deep-red);
  .chart{
  background-color: var(--pure-white);
  width: 100%;
  border: 1px solid var(--pure-white);
  border-radius: 10px;
  padding: 10rem;
  min-height: 792px;
  text-align: center;
  }
}
.back-wrapper{
  text-align: end;
}
@media screen and (max-width: 1000px) {
  .chart-section
  {
  .chart{
    padding: 0!important;
    min-height: 350px;
    }
}
}
@media screen and (max-width: 500px) {
  .chart-section
  {
  .chart{
    padding: 0!important;
    min-height: 0;
    }
}
}
