.sticky-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  var(--of-white1);;
  padding: 10px;
  z-index: 9999;


  .logo{
  img{
    width: 10rem;
  }
}
.nav-links {
  display: flex;
  gap: 10px;

  a {
    padding: 8px 16px;
    background-color: #871e35;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
}

}
.scrolling {
  height: 60px;
  transition: height 0.3s ease;
  .logo{
    width: 14rem;
    img{
      width: 8rem;
    }
  }

}
@media screen and (max-width: 540px) {
  .sticky-header {
    height: 60px;

    align-items:center;
    padding: 10px;
.logo{
    width: 14rem;
    padding: 10px;
    img{
      width: 8rem;
    }
  }
 nav {
    margin-top: 3rem;
  }
  .nav-links {
    flex-direction: row;
    align-items: center;
    a{
      font-size: 12px;
      padding: 4px 12px;
      margin-bottom: 45px;
    }
  }

  }
}
